{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% block head_title %}{% trans "RecomendadorUD" %}{% endblock %}
{% block scripts %}
{% endblock %}
{% load static %}


{% block content %}

    <a href="{% url 'establecimientos_list_url' %}">Buscar establecimientos</a>
    <a href="{% url 'establecimiento_create_url' %}">Crear establecimiento</a>
    
 
    <h3>Aca la lista</h3>   
    
    <h3> Nombre: {{object.nombre}}</h3>
    <h3> Email: {{object.email}}</h3>
    <h3> Pagina Web: {{object.web_page}}</h3>
    <h3> Direccion: {{object.address}}</h3>
    <h3> Posicion{{object.position}}</h3>
    <h3> Categoria: {{object.sub_categorias.categorias}}</h3>
    <h3> SubCategoria: {{object.sub_categorias}}</h3>
    
    <h3> Imagen: {{imagen.imagen}}</h3>
    {% for imagen in imagenes  %}
        <div><img src="{{MEDIA_URL}}{{imagen.imagen}}" with='50' height='50' alt="{{imagen.imagen}}"/></div>
    {% endfor %}
    
   
    {% comment %}
         {% load comments %}    

        <div id="comments-wrapper">       

            {% render_comment_list for object %}    
            {% render_comment_form for object %}
        </div>
    {% endcomment %}

    {% if comentarios %}
        <div id="comentarios">
        {% for  comment in  comentarios %}
                <div id="comentario">
                    <h4 id='titulo'>{{comment.author}}  {{comment.created}}  
                        {% if user == comment.author %}
                            <a href=" {% url 'eliminar_comentario_url' object.id comment.id %}">Eliminar</a>
                        {% endif %}
                    </h4>
                    <p>{{comment.body}}</p>
                </div>
               
        {% endfor %}
        </div>
    {% endif %}
    

    <form action="{%  url 'crear_comentario_url' object.id %}" method='POST' id='my_form'>{%csrf_token%}
            {{form.as_p}}
            <input type="button" class="add_comment_submit" value="Enviar" id="enviar">
    </form>   

    <div class="pagination">
        <span class="step-links">
            {% if comentarios.has_previous %}
                <a href="?page={{ comentarios.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ comentarios.number }} of {{ comentarios.paginator.num_pages }}.
            </span>

            {% if comentarios.has_next %}
                <a href="?page={{ comentarios.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>


    <script>

        $('.add_comment_submit').click(function() {
            //alert($('#my_form').serialize());
            $.ajax({
                url: $('#my_form').attr('action'),
                type: 'POST',
                data: $('#my_form').serialize(),                
                dataType: 'json',
                success: function(response) {
                    if(response.success){
                        location.reload();
                    } else {
                        $('.form-error').remove();
                        for(var error in response.errors.fields) {
                            $('#my_form #id_' + error).before('<div class="form-error">' + response.errors.fields[error] + '</div>');
                        }
                    }
                },
                error:function(){
                    console.log("ERROR");
                    //location.reload();
                }
            });
        });

       
    </script>

       

{% endblock content %}
