{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% block head_title %}{% trans "RecomendadorUD-Crear" %}{% endblock %}
{% load bootstrap3 %}
{% load static %}
  
{% block scripts %}
{% endblock scripts %}

{% block styles %}
.custo-input-group{
  width: 110%;
}
{% endblock styles %}
{% block content %}

<div class="row">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
      <h1>Busqueda</h1>       
      <form id="search-form" class="navbar-form" method="get" role="search" action=".">
        <div class="input-group custo-input-group">
          <input type="text" class="form-control" placeholder="Search" name="q" id="search_input">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>    
      </form>
      <br><br>
  </div>

  <div class="col-md-offset-1 col-md-10 col-md-offset-1">

    {% for dato in datos  %}

      <div class="row">
        <div class="col-md-3">
          {% if dato.imagen_set.first %}
          <img class="img-responsive" src="{{dato.imagen_set.first.imagen_thumbnail.url}}" alt="{{dato.nombre}}" />

          {%else%}
            <img class="img-responsive" src="{% static 'img/default_imgest.jpg'%}" alt="{{dato.nombre}}" />
          {%endif%}
        </div>

        <div class="col-md-9">
          <h3><a href="{% url 'establecimiento_detail_url' dato.id%}"> {{dato.nombre | title}}</a> </h3>
          <h5>{{dato.sub_categorias.categorias | title}} | {{dato.sub_categorias |title}}</h5>
          <p class="text-justify">{{dato.description}}</p>
          <br>

        </div>
      </div>
      <hr>
    {% endfor %}

    {% if datos %}
     <ul class="pagination ">            

            {% if datos.has_previous %}                
                {% if datos.previous_page_number != 1 %}                
                    <li><a href="?page=1&q={{query}}">1</a></li>
                {% endif %}
                <li><a href="?page={{ datos.previous_page_number }}&q={{query}}">&laquo;</a></li>
            {% endif %}

            
            <li><a href="#">{{ datos.number }} de {{ datos.paginator.num_pages }}</a></li>
            

            {% if datos.has_next %}  
                <li><a href="?page={{ datos.next_page_number }}&q={{query}}">&raquo;</a></li>
                {% if datos.next_page_number != datos.paginator.num_pages %}                
                    <li><a href="?page={{datos.paginator.num_pages}}&q={{query}}">{{datos.paginator.num_pages}}</a></li>
                {% endif %}
            {% endif %}        
    </ul>
    {%else%}
    <h3 class="text-center">Lo sentimos: No encontramos ninguna coincidencia para el termino "{{query}}"</h3>
    <img class="img-responsive center-block" src="{% static 'img/not_results_found.png'%}"  alt="Not found">
    <br><br>
    {% endif%}

    
      
  </div>



  
</div>
  
<script type="text/javascript"> 

  function getUrlParameter(sParam)
  {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++) 
      {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam) 
          {
              return sParameterName[1];
          }
      }
  }  

  $('#search_input').val(decodeURIComponent(getUrlParameter('q')).replace(/\+/g," "));

</script>
  
{% endblock content %}

 
