{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% block head_title %}{% trans "HomeView" %}{% endblock %}

{% load static %}




{% block content %}
	
	<form action="" method="post">{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Create" />
	    <input type="button" value="Create with ajax" id="botn" />
	</form>


	<script>

		// using jQuery
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');


		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});

		data  = JSON.stringify({
			"nombre":"DonaColaa",
			"email":"DonaColaa@hotmail.com",
			"address":"address",			
			"web_page":"http://wwww.coquito.com",
			"sub_categorias":"1",
			"description":"http://wwww.coquito.com",
			"position":"-2.811371193331128,-68.203125"
		});
		console.log(data);


	$( "#botn" ).click(function() {
		alert("CLIC");
			$.ajax({
			    type: "POST",
			    //url: "http://localhost:8000/api2/establecimientos/",
			    url: "http://localhost:8000/establecimiento/create_api/",		    
			    data: data,
			    sucess: function(response) { alert("CReADO"); },
			    complete: function(xhr) {	                
	                if (xhr.readyState == 4) {
	                    if (xhr.status == 201) {
	                        alert("Created");
	                    }
                }
	            },
			    contentType: "application/json; charset=utf-8",
			    dataType: "json",
			    crossDomain:false,
			    beforeSend: function(xhr, settings) {
			      xhr.setRequestHeader("X-CSRFToken", csrftoken);
			    },
			    error:function(error){
	                console.log("ERROR",error);
	                alert(error)
	                //location.reload();
	            }

	        });

		});

	</script>
{% endblock content %}

  {% block scripts %}
    <script src="{% static 'js/update_categoria.js'%}"></script>        
  {% endblock  %}