{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% block head_title %}{% trans "Editar" %}{% endblock %}
{% load static %}   
{% load bootstrap3 %}
{% block scripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCvfyKIBeaLLGXbF5HS73ZcfmDhPtM05rA&sensor=true"></script>

 <script src="{% static 'Gmaps/gmaps.js'%}"></script>
{% endblock %}
{% load static %}

{% block styles %}
     .map { height: 30em; }
{% endblock styles %}

{% block content %}
	<h1>Actualización {{object}}</h1>
    <form action="" method="POST">{% csrf_token %}
        
        {% bootstrap_form form%}
        <div class="form-group"><label class="control-label" for="id_mapa">Posición</label>
            <div class="map" id="id_mapa"></div>
        </div>
        <input type="hidden" id="latitude" value='{{lng}}'>
        <input type="hidden" id="longitude" value='{{lat}}'>
        <!--<textarea id="id_position" class="vWKTField required" cols="150" rows="10" name="position"></textarea>-->
        <br><br>
        <p class="bg-info"><br>Los campos marcados con * son obligatorios.<br><br></p>
        <button type="submit" class="btn btn-success">{% trans "Actualizar" %}</button>
    </form>

    <script src="{% static 'js/update_categoria.js'%}"></script>   
    <script src="{% static 'js/establishment_system/edit.js'%}"></script>   
   
     

{% endblock content %}
