{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Busqueda" %}{%endblock head_title%}
{% load static %}
{% block scripts %}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCvfyKIBeaLLGXbF5HS73ZcfmDhPtM05rA&sensor=true"></script>
    <script src="{% static 'Gmaps/gmaps.js'%}"></script>

{% endblock %}
{% load static %}

{% block styles_link %}
<link rel="stylesheet" href="{% static 'css/establishment_system/list.css'%}"> 
{% endblock styles_link %}





{% block content_free %}




<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-7 col-md-7 col-sm-7" id="left">
      <br><br>
    <div class="row">
      <div class="col-md-12">

      <div class="form-group"><label class="control-label" for="filtrado">Nombre</label>
    <input class="form-control" type="text" id="filtrado" placeholder="Nombre del lugar"/>
    </div>


      {% bootstrap_form form_categorias %}

      
   

<div class="form-group">
  <button type="button" class="btn btn-primary btn-sm " id="boton_aplicar_filtro">
  <span class="glyphicon glyphicon-filter"></span> Aplicar Filtro
  </button>

  <button type="button" class="btn btn-default  btn-sm  form-group" id="boton_limpiar">
  <span class=""></span> Limpiar
  </button>
</div>




      </div>
        
    </div>
    <div class="row" id="all_elements">
       <!-- Aca los items -->       
    </div>

    <div class="row loading">
      <img src="{% static 'img/loading.gif'%}" class="img-responsive center-block"/>
    </div>

    <div class="row">
    <div class="col-md-12 text-center">
      <ul class="pagination text-center">  
      </ul>
    </div>
    </div>
     
    </div>
    <div class="col-xs-5"><!--map-canvas will be postioned here-->
       
  </div>
    
  </div>
</div>

<script src="{% static 'js/update_categoria.js'%}"></script>   
<script src="{% static 'js/establishment_system/list.js'%}"></script>   




{% endblock content_free %}
