{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% load bootstrap3 %}
{% load static %}
{% block scripts %}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCvfyKIBeaLLGXbF5HS73ZcfmDhPtM05rA&sensor=true"></script>
    <script src="{% static 'Gmaps/gmaps.js'%}"></script>

{% endblock %}
{% load static %}

{% block styles %}

{% endblock styles %}





{% block content%}

  <div class="row">
      <div class="clo-md-12">
        {% if establecimientos_propios %}
         
            <div class="table-responsive">
              <table class="table table-hover">        
                <tr>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Categoria</th>
                  <th>Puntaje</th>                
                  <th>Numero Votos</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>      
                {% for establecimiento in establecimientos_propios %}
                    <tr>
                        <td><a href="{% url 'establecimiento_detail_url' establecimiento.id %}">{{ establecimiento.nombre |title}}</a></td>
                        <td>{{ establecimiento.address | title }}</td>
                        <td>{{establecimiento.sub_categorias.categorias | title}} - {{establecimiento.sub_categorias}}</td>
                        <td>{{establecimiento.rating.get_rating}} = {{establecimiento.rating.get_percent}}%</td>                        
                        <td>{{establecimiento.rating.votes}}</td>
                        <td><a href="{% url 'establecimiento_update_url' establecimiento.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> </a></td>    
                        <form action="">
                          <td><button type="button" class="btn btn-danger "><span class="glyphicon glyphicon-trash"></span> </button></td>
                        </form>                    
                    </tr>
                {% endfor %}
              </table>
            </div>
            {# .... **Now the pagination section** .... #}
            {% if is_paginated %}

                <div class="pagination">
                    <span class="step-links">

                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}

                        <span class="current">
                            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </span>
                </div>

            {% endif %}
        {% else %}
        <div clss="col-md-offset-2 col-md-8 col-md-offset-2 ">
            <h2 class="text-center">Opps nada por aquí</h2>
            <p class="text-center">No hay ningun establecmiento que te pertenece.</p>
        </div>
        {% endif %}
        </div>
  </div>

  


      




{% endblock content%}
