{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% block head_title %}{% trans "Solicitudes" %}{% endblock %}
{% load bootstrap3 %}
{% load static %}   


{% block scripts %}

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCvfyKIBeaLLGXbF5HS73ZcfmDhPtM05rA&sensor=true"></script>

 <script src="{% static 'Gmaps/gmaps.js'%}"></script>
{% endblock scripts %}

{% block styles %}
     .map { height: 30em; }

          .borde{
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #47a3da;
   
{% endblock styles %}


{% block content %}
    <div class="row">
      <div class="col-md-12">

        

        <div class=" col-md-4 col-sm-12 col-xs-12 ">   
          <h1>Ten encuenta  </h1>

          {% if tipo_solicitud == '0' %}
                <div class="well col-md-12 borde">
              <h4>Solicitud  de administración</h4>  
              <ul>
                <p class="text-justify"> Ten en cuenta: </p>
                <li><p class="text-justify">Al enviar la información se llevara un proceso sobre tu solicitud, nosotros nos comunicaremos con tigo a partir de la información proporcionada en tu perfil</p></li>
                <li><p class="text-justify">Al enviar la información aceptas los <a href="">terminos y condiciones</a></p></li>
              </ul>
            </div> 
          {%endif%}
          {% if tipo_solicitud == '1' %}
              <div class="well col-md-12 borde">
            <h4>Solicitud modificación</h4>  
            <ul>
              <p class="text-justify">Ten en cuenta:</p>
              <li><p class="text-justify">Procura ingresar todos los datos que puedas.</p></li>
              <li><p class="text-justify">La ubicación debe ser exacta.</p></li>
              <li><p class="text-justify">La información debe ser veridica.</p></li>              
              <li><p class="text-justify">Al enviar la información aceptas los <a href="">terminos y condiciones</a></p></li>
            </ul>
          </div>   
          {%endif%}
          {% if tipo_solicitud == '2' or tipo_solicitud == '3'  %}              
            <div class="well col-md-12 borde">
              <h4>Solicitud eliminación</h4>  
              <ul>
                <p class="text-justify"> Ten en cuenta: </p>
                <li><p class="text-justify">Si tu solicitud es por duplicidad, ingresa el link o nombre del lugar que se repite.</p></li>                
                <li><p class="text-justify">Al enviar la información aceptas los <a href="">terminos y condiciones</a></p></li>
              </ul>
            </div> 
          {%endif%}



      </div>
        <div class="col-md-8">


          {% if tipo_solicitud == '0' %}
            <h2 class="text-center">Crear solictud para administrar el lugar <a href="{% url 'establecimiento_detail_url' establecimiento.id%}">{{establecimiento.nombre |title}}</a></h2>
          {%endif%}
          {% if tipo_solicitud == '1' %}
            <h2 class="text-center">Crear solictud para editar el lugar <a href="{% url 'establecimiento_detail_url' establecimiento.id%}">{{establecimiento.nombre |title}}</a></h2>
          {%endif%}
          {% if tipo_solicitud == '2' %}
            <h2 class="text-center">Crear solictud para eliminar el lugar <a href="{% url 'establecimiento_detail_url' establecimiento.id%}">{{establecimiento.nombre |title}}</a></h2>
          {%endif%}
          {% if tipo_solicitud == '3' %}
            <h2 class="text-center">Crear solictud para eliminar el lugar <a href="{% url 'establecimiento_detail_url' establecimiento.id%}">{{establecimiento.nombre |title}}</a></h2>
          {%endif%}

          <form action="" method="POST">{% csrf_token %}
            {% if form2 %}
                {% bootstrap_form form2%}
                <div class="form-group"><label class="control-label" for="id_mapa">Posición</label>
                    <div class="map" id="id_mapa"></div>
                </div>
                <input type="hidden" id="latitude" value='{{lng}}'>
                <input type="hidden" id="longitude" value='{{lat}}'>
                <!--<textarea id="id_position" class="vWKTField required" cols="150" rows="10" name="position"></textarea>-->
                <br><br>
                {% if tipo_solicitud == '1' %}
                <p class="bg-info"><br>Los campos marcados con * son obligatorios.<br><br></p>
                {%endif%}
                 <hr>
            {% endif %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">{% trans "Enviar" %}</button>
        </form>
        </div>
      </div>
    </div>
    

    

   {% if form2 %}
      <script src="{% static 'js/establishment_system/solicitud.js'%}"></script>   
   {% endif %}
    
{% endblock content %}

