{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% load socialaccount %}

{% block head_title %}{% trans "Inicio sesión" %}{% endblock %}

{% block styles_link %}
<link rel="stylesheet" href="{% static 'css/account_system/login.css'%}"> 
{% endblock styles_link %}

{% block styles %}    
{% endblock styles %}

{% block content %}
            


            <div class="omb_login">
                
        <h3 class="text-center">Iniciar sesión o registrate desde tu red social preferida</h3>
        {% if socialaccount.providers  %}
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                <div class="col-xs-4 col-sm-2">
                    <a  href="/accounts/facebook/login/?process=" class="btn btn-lg btn-block rs omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        <span class="">Facebook</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="/accounts/twitter/login/?process=" class="btn btn-lg btn-block rs omb_btn-twitter">
                        <i class="fa fa-twitter visible-xs"></i>
                        <span class="">Twitter</span>
                    </a>
                </div>  
                <div class="col-xs-4 col-sm-2">
                    <a href="/accounts/google/login/?process=" class="btn btn-lg btn-block rs omb_btn-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="">Google+</span>
                    </a>
                </div>                  
            </div>           
            <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">o</span>                 
                </div>
            </div> 
        {% endif %}        
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">  
                <form class="omb_loginForm login" action="" autocomplete="off" method="POST" data-parsley-validate action="{% url 'account_login' %}">{% csrf_token %}      
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control" id="id_login" name="login" placeholder="Username">
                    </div>
                    <span class="help-block"></span>
                                        
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
                    </div>
                    <span class="help-block">                        
                        {% if form.non_field_errors %}
                            <li>{{ form.non_field_errors }}</li>
                        {% endif %}
                        {% for field in form %}
                            {% if field.errors %}
                                <li>
                                    {{ field.label }}
                                    <ul class="errorlist">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}                        
                    </span>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }} " />
                    {% endif %}
                </form>

            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-offset-1 col-xs-12 col-sm-3">
                
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" id="id_remember" name="remember">Recordar                   
                </label>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="omb_forgotPwd">
                    <a href="{% url 'account_reset_password' %}">{% trans "¿Olvidaste tu contraseña?" %}</a>
                </p>
            </div>
        </div>    


        <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">o</span>  
                <h3 class="">Puedes registrar de manera convencional <a href="{{ signup_url }}">aqui</a></h3>                
            </div>
        </div>

    </div>

{% endblock content %}



