{% extends "main/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load bootstrap3 %}
{% block content %}
    

    
    <div class="row " >
        <div class="col-md-12 col-sm-11 col-xs-11 ">            
        <div class="col-md-offset-3 col-sm-offset-2 col-xs-offset-1 col-md-6 col-sm-8 col-xs-10  col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
            
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            
            {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p  class="text-justify">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                    {% if form %}
                         <form  class="form-horizontal " role="form" data-parsley-validate method="POST" action="." >{% csrf_token %}  
                              {% bootstrap_form form %}
                              <button type="submit" class="btn btn-success">{% trans "change password" %}</button>  
                        </form>   
                        <br>
                        <br>
                    {% else %}
                        <p class="text-justify">{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
            {% endif %}



           
                  
        </div>
        </div>
    </div>

{% endblock %}
