{% extends "main/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

	<div class="row " >
        <div class="col-md-12 col-sm-11 col-xs-11 ">
        <div class="col-md-offset-3 col-sm-offset-2 col-xs-offset-1 col-md-6 col-sm-8 col-xs-10  col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
        	<h1>{% trans "Verify Your E-mail Address" %}</h1>
        	<br>
        	<p class="text-justify">{% blocktrans %}Te enviamos un correo al E-mail que proporcionaste, sigue el link para finalizar el proceso de registro.{% endblocktrans %} 
            </p>
            <p class="text-justify">{% blocktrans %}Sí tienes problemas contactate con nosotros y pronto te responderemos. :D {% endblocktrans %}</p>
        </div>
        <br><br>
        </div>
    </div>

{% endblock %}