{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% load bootstrap3 %}
{% block head_title %}Acerca de...{%endblock head_title%}
{% load static %}
{% block scripts %}
{% endblock %}
{% load static %}

{% block styles %}
.borde{
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #3C4FB3;
    margin-bottom: 1em;
}

.llamar{
    font-size: 1.em;
}
{% endblock styles %}




{% block content %}

<h1>Error 403 :O</h1>

{% endblock content %}