{% load staticfiles %}
{% load notifications_tags %}
{% load avatar_tags %}
{% load humanize %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'img/icon/favicon.ico'%}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/icon/favicon.ico'%}" type="image/x-icon">  
  {% block styles_link %}{% endblock styles_link %}
  <title>{% block head_title %}Third-party Authentication Tutorial{% endblock head_title %}</title>

  <!-- Bootstrap  servido por mi
  <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}" rel="stylesheet">
  -->

  <!-- Latest compiled and minified CSS 
   style="background:#DBDBDB;"
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="{% static 'Bootstrap-3-Typeahead/typeaheadjs.css'%}" rel="stylesheet">
  <link href="{% static 'bootstrap-notify/bootstrap-notify.css'%}">

  <!--Menu desplegable -->
  <link rel="stylesheet" href="{% static 'css/menu_desplegable.css'%}">

  <!-- JavaScript -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="{% static 'Classie/classie.js'%}"></script>   
  <script src="{% static 'Classie/modernizr.custom.js'%}"></script>   
  <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>  
  <script src="{% static 'bootstrap-notify/bootstrap-notify.js'%}"></script>    

  <link rel="stylesheet" href="{% static 'css/main/main.css'%}">
  <style>  
  body{
    background: #47a3da;
    background-image: url("{% static 'img/pattern-eimx.png'%}");
  }
  
 {% if request.user|has_avatar  %}
    #menu_boton{
      background-image: url("{% avatar_url user 300 %}");
      background-size: 100%;
      box-shadow: inset 0 115px 100px -50px #47a3da;
    }    
{% endif %}

  {% block styles %}
    
  {% endblock styles %}  

  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
    {% block scripts %}{% endblock  %}     

  </head>
  <body class="cbp-spmenu-push" > {% if request.get_full_path != '/establecimientos/' %}<div id="wrap">{%endif%}


    <!-- Nav Top -->
    
    <div class="navbar navbar-default navbar-fixed-top" id="navbar_id" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-left" href="#" id="showLeftPush">
            <div class="row">                            
             <div class="col-md-3 col-sm-3 col-xs-3 " id="icon_menu"><span  class="glyphicon glyphicon-th-list"></span></div>
             <div class="col-md-9 col-sm-9 col-xs-9 izq">RecomendadorUD</div>

           </div>
         </a>
  


       </div>

       



    <div class="navbar-collapse collapse" id="searchbar">   

<!--
      <form class="navbar-form autocomplete-me" role="search" method="post" action="/buscar/" class="autocomplete-me"> {%csrf_token%}           
          <div class="input-group">  
            <div id="remote" style="color:black;">
            <input type="text" class="form-control typeahead" id="id_qs" name="q" autocomplete='off' placeholder="Search"> 
          </div>

        </div>
      </form>  -->






      <ul class="nav navbar-nav navbar-right" >  
        {% if user.is_authenticated %}
          {% notifications_unread as unread_count %}
        {% if unread_count %}   
    
          <li><a href="#" id="notificaciones">
            <i class="glyphicon glyphicon-bell"></i>
              <span class="badge">{{unread_count}}</span>
          </a></li> 

          <div style="display:none" class="alert_list">
            {% for notification in notifications %}  
              <li data-alert_id="1" class="alert_li">
                <p class="alert_message ">{{ notification.verb|default:"" |truncatechars:50}} - De <a href="{% url 'profiles_url' notification.actor.id %}">{{ notification.actor|default:"" |truncatechars:30}}</a> -
                  {{notification.timestamp |naturalday }}
                </p>                
                <a href="#" class="alert_message text-justify">{{ notification.description|default:"" |truncatechars:300}} </a><br>
                <a href="{% url 'mark_as_read_only' %}?id={{notification.id}}" class="turn_off_alert">Marcar como leída</a>
                <div class="clearfix"></div>
              </li>
            {% endfor %}    
            <li><h5 class="text-center"><a href="{% url 'notificaciones_url'%}">Ver todas</h5></a></li>        
          </div>
          
        {% else %}

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  href="#" >
            <i class="glyphicon glyphicon-bell"></i>
          </a>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">No tienes notificaciones.</a></li>
            <li><a href="{% url 'notificaciones_url'%}">Ver todas las notificaciones</a></li>
          </ul>
        </li>

        {% endif %}
    
                
       

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name|title}} | 
            {% if request.user|has_avatar  %}
              <img src="{% avatar_url user 25 %}" class="img-circle" alt="{{request.user}}">
            {% else %}
              <span class="glyphicon glyphicon-user"></span>  
            {% endif %}
            
            
          </a>  
          <ul class="dropdown-menu" role="menu" >
            <li><a href="{% url 'profile_url'%}"><span class="glyphicon glyphicon-user"></span> Perfil</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'update_profile_url' %}"><span class="glyphicon glyphicon-cog"></span> {% trans "Actualizar perfil" %}</a></li>
            <li><a href="{% url 'logout_url' %}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </li>   
        {% else %}
        <li><a href="{% url 'login_url'%}" class="pull-right">Login</a></li>

        {% endif %}    

      </ul>


      <form class="navbar-form autocomplete-me" role="search" method="get" action="{% url 'busqueda_establecimiento_url' %}" id="search_form"> {%csrf_token%}          
        <div class="form-group" style="display:inline;">
          <div  class="input-group" id="remote">         
          <!--   
            <input type="text" class="form-control typeahead" id="id_qs" name="q" autocomplete='off' placeholder="Search">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>-->

          
            <input style="width:100%;" type="text" class="form-control typeahead" id="id_qs" name="q" autocomplete='off' placeholder="Search">

            <span class="input-group-addon" id="enviar_form"><span class="glyphicon glyphicon-search"></span></span>

          </div>
        </div>
      </form>


    </div>
  </div>
</div>

<!-- body has the class "cbp-spmenu-push" -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

  <a href="#" id="menu_boton">
    <div class="row">
      <div class="col-md-8">
        {% if user.is_authenticated %}
          {{user.first_name}} 
        {%else%}
        Menu
        {% endif %}
      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
    </div>    
    <br>
    <br>
  </a>  
  {% url 'home_url' as home_menu %}  
  {% url 'establecimientos_list_url' as establecimientos_list_menu %} 
  {% url 'establecimientos_propios_ur' as establecimientos_propios_menu %}  
  {% url 'recmendacion_url' as recmendacion_menu %}  
  {% url 'establecimiento_create_url' as establecimiento_create_menu %}    
  <a href="{% url 'home_url' %}" {% if request.get_full_path == home_menu %}class="active-menu"{% endif %}><span class="glyphicon glyphicon-home"></span> Inicio</a>   
  <a href="{% url 'establecimientos_list_url' %}" {% if request.get_full_path == establecimientos_list_menu %}class="active-menu"{% endif %}><span class="glyphicon glyphicon-map-marker"></span> Mapa de Lugares</a>  
  {% if request.user.is_authenticated %}
    {% if  user.is_organizacional or user.is_superuser%}      
      <a href="{% url 'establecimientos_propios_ur'%}" {% if request.get_full_path == establecimientos_propios_menu %}class="active-menu"{% endif %}><span class="glyphicon glyphicon-briefcase"></span> Mis Lugares</a>
    {% endif %}
      <a href="{% url 'recmendacion_url'%}" {% if request.get_full_path == recmendacion_menu %}class="active-menu"{% endif %}><span class="glyphicon glyphicon-thumbs-up"></span> ¡Te recomendamos!</a> 
      <a href="{% url 'establecimiento_create_url' %}" {% if request.get_full_path == establecimiento_create_menu %}class="active-menu"{% endif %}><span class="glyphicon glyphicon-ok"></span>  Crear lugar</a>         
  {% else %}

  {% endif %}
</nav>



  <div class="container" >
  <div class="main"   >      
    <div class="row">
      <div   style="display:none;" id="notification_content">{% if messages %}<ul class="messages">{% for message in messages %}<li {% if message.tags %} class="{{message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}</ul>{% endif %}</div>
      </div>
    <div class='notifications top-left class="col-md-offset-1 col-md-10 col-md-offset-1'></div>

    {% block content %}{% endblock %}
  </div>
</div>



{% block content_free %}{% endblock %}


{% if request.get_full_path != '/establecimientos/' %}
</div>
<br>
<div id="footer">
      <div class="container text-center">
         <div class="col-md-4">
                <h3><span class="glyphicon glyphicon-info-sign"></span> Sobre la plataforma</h3>
                <p class="text-justify">Para más información mira  <a href="{% url 'about_url' %}">este</a> enlace.</p> 
                <p class="text-justify">Repositorio público en <a href="https://github.com/camilortte/RecomendadorUD">GitHub</a></p>
            </div>
            <div class="col-md-4">
                <h3 ><span class="glyphicon glyphicon-ok-sign"></span> Sobre el proyecto</h3>
                <p class="text-justify">RecomendadorUD ® es un proyecto final de grado de la carrera de Sistematización de datos de la <a href="http://www.udistrital.edu.co/" target="_blanck"> Universidad distrital Francisco José de Caldas</a></p>                
            </div>
            <div class="col-md-4" >
                <h3 ><span class="glyphicon glyphicon-question-sign"></span> Sobre el autor</h3>
                <p class="text-justify">Diseñado y desarollado por Camilo Ramírez</p>
                <p class="text-justify">- camilortte@hotmail.com</p>
                <p class="text-justify">- camilolinchis@gmail.com</p>
                <p class="text-justify">- <a href="https://twitter.com/camilortte" target="_blanck">@camilortte</a>  on Twitter</p>
            </div>

          <div class="col-md-12"> <a href="#">Terminos y condiciiones</a> - Todos los derechos reservado 2014-2015- Power by <a target="_blank" href="https://www.djangoproject.com/">Django</a></div>
      </div>
    </div>
{% endif %}

<script src="{% static 'js/menu_desplegable.js'%}"></script>  
<script src="{% static 'js/main/main.js'%}"></script>  
<!-- Google Analytics -->
<script async src='//www.google-analytics.com/analytics.js'></script>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-XXXX-Y', {
  'cookieDomain': 'none'
});
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

  </body>



  </html>

