{% load staticfiles %}
{% load notifications_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block head_title %}Third-party Authentication Tutorial{% endblock head_title %}</title>

    <!-- Bootstrap  servido por mi
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}" rel="stylesheet">
  -->

  <!-- Latest compiled and minified CSS 
   style="background:#DBDBDB;"
-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!--Menu desplegable -->
  <link rel="stylesheet" href="{% static 'css/menu_desplegable.css'%}">

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

  <script src="{% static 'Classie/classie.js'%}"></script>   
  <script src="{% static 'Classie/modernizr.custom.js'%}"></script>   

  <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
  <link href="{% static 'Bootstrap-3-Typeahead/typeaheadjs.css'%}" rel="stylesheet">

  <style>
    h1 {
        text-align: center;
    }

  {% block styles %}
    
  {% endblock styles %}



  

  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
    {% block scripts %}{% endblock  %}     

  </head>
  <body class="cbp-spmenu-push" >

    <!-- Nav Top -->
    
    <div class="navbar navbar-default navbar-fixed-top" id="navbar_id" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-left" href="#" id="showLeftPush">
            <div class="row">               
             <div class="col-md-9 col-sm-9 col-xs-9">RecomendadorUD</div>
             <div class="col-md-3 col-sm-3 col-xs-3"><span id="icon_menu" class="glyphicon glyphicon-th"></span></div>

           </div>
         </a>
  


       </div>

       



    <div class="navbar-collapse collapse" id="searchbar">   

<!--
      <form class="navbar-form autocomplete-me" role="search" method="post" action="/buscar/" class="autocomplete-me"> {%csrf_token%}           
          <div class="input-group">  
            <div id="remote" style="color:black;">
            <input type="text" class="form-control typeahead" id="id_qs" name="q" autocomplete='off' placeholder="Search"> 
          </div>

        </div>
      </form>  -->






      <ul class="nav navbar-nav navbar-right" >         
        {% if user.is_authenticated %}
        {% notifications_unread as unread_count %}
        {% if unread_count %}   


           

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  href="#" >
            <i class="glyphicon glyphicon-bell"></i>
            <span class="badge">{{unread_count}}</span>
          </a>
          <ul class="dropdown-menu scrollable-menu" role="menu">

            {% for notification in notifications %}

            <li class="dropdown-header">
              <p>
                Titulo {{ notification.verb|default:"" }}
                De {{ notification.actor|default:"" }}
                Descripcion {{ notification.description|default:"" }}
              </p>



              <a  href="{% url 'mark_as_read_only' %}?id={{notification.id}}">Marcar como leida</a>

            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  href="#" >
            <i class="glyphicon glyphicon-bell"></i>
          </a>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">No tienes notificaciones</a></li>
          </ul>
        </li>

        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name|title}} | <span class="glyphicon glyphicon-user"></span></a>  
          <ul class="dropdown-menu" role="menu" >
            <li><a href="#">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'update_profile_url' %}"><span class="glyphicon glyphicon-cog"></span> UpdateAccount</a></li>
            <li><a href="{% url 'logout_url' %}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </li>   
        {% else %}
        <li><a href="{% url 'login_url'%}" class="pull-right">Login</a></li>

        {% endif %}    

      </ul>


      <form class="navbar-form autocomplete-me" role="search" method="post" action="/buscar/"> {%csrf_token%}          
        <div class="form-group" style="display:inline;">
          <div  class="input-group" id="remote">         
          <!--   
            <input type="text" class="form-control typeahead" id="id_qs" name="q" autocomplete='off' placeholder="Search">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>-->

          
            <input style="width:100%;" type="text" class="form-control typeahead" id="id_qs" name="q" autocomplete='off' placeholder="Search">
          
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>

          </div>
        </div>
      </form>


    </div>
  </div>
</div>










<!-- body has the class "cbp-spmenu-push" -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

  <a href="#" id="menu_boton">
    <div class="row">
      <div class="col-md-8">
        {% if user.is_authenticated %}
        {{user.first_name}}
        {%else%}
        Menu
        {% endif %}
      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
    </div>    
    <br>
    <br>
  </a>  
  <a href="{% url 'home_url' %}">Inicio</a>
  <a href="{% url 'establecimientos_list_url' %}">Lugares</a>
  <a href="#">Categorias</a>
  {% if request.user.is_authenticated %}
    {% if  user.is_organizacional or user.is_superuser%}
      <a href="#">Mis Lugares</a> 
    {% endif %}
      <a href="#">¡Recomiendame!</a> 
      <a href="{% url 'establecimiento_create_url' %}">Crear lugar</a>         
  {% else %}

  {% endif %}
</nav>


  <div class="container" >
  <div class="main"   >   
    {% block content %}{% endblock %}
  </div>
</div>


{% block content_free %}{% endblock %}






<script src="{% static 'js/menu_desplegable.js'%}"></script>  



<script type="text/javascript">
    


    var bestPictures = new Bloodhound({
      datumTokenizer: function (d) {
                return Bloodhound.tokenizers.whitespace(d.value);
            },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: '/buscar_json',
      remote:   {
            url: '/buscar_json',
            filter: function (data) {
                query=$("#id_qs").val();  
                return data.results
            },
            ajax: {
                type: 'GET',
                data: {
                    q: function(){
                        return $('#id_qs').val();
                    }
                },

            },
            replace: function(url, query) {
                return url + "#" + query; // used to prevent the data from being cached. New requests aren't made without this (cache: false setting in ajax settings doesn't work)
            }
        }
    });
     
    bestPictures.initialize();

    ;(function (_) {
        'use strict';

        _.compile = function (templ) {
            var compiled = this.template(templ);
            compiled.render = function (ctx) {
                return this(ctx);
            }
            return compiled;
        }
    })(window._);

    $('#remote .typeahead').typeahead(null, {
      name: 'best-pictures',
      displayKey: 'nombre',
      templates: {
        suggestion:  _.compile([
          '<p class="repo-language"  style="color:black;"><strong  style="color:black;"> <a  style="color:black;" href="/establecimientos/<%=id%>"><%=nombre%></a></strong></p>'       
        ].join(''))
      },
      source: bestPictures.ttAdapter()
    });
    </script>


  </body>



  </html>

