{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% load staticfiles %}
{% block head_title %}{% trans "Home" %}{% endblock %}
{% block scripts %}
        <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
        <script>
            function my_callback(data){
                $('#unread').text(data.count);
                var id_delete='#'+data.id_leido+'_row';
                $(id_delete).remove();
            }

        </script>

{% endblock %}

{% block styles %}
/*
.js-video {
  height: 0;
  padding-bottom: 67.5%;
  position: relative;
  overflow: hidden;
}*/


.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

#bgvid{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);        
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}



.header{
    color:white;
    font-family: 'Paytone One', sans-serif;    
    -webkit-text-stroke: 1px black;
    -moz-text-stroke: 1px black;
    -ms-text-stroke: 1px black;
    -o-text-stroke: 1px black;
   color: white;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
.header{
    font-size:4em;
}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .header{
    font-size:4em;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .header{
    font-size:3em;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.header{
    font-size:2em;
}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
.header{
    font-size:2em;
}
}

{% endblock styles %}


{% block content %}
 


    <div class="row " >
        <div class="col-md-offset-1 col-md-10 col-md-offset-1 js-video [vimeo, widescreen]"
        bgcolor="#f2ae44" >   
            <video autoplay="autoplay" muted="muted" loop="loop" poster="{% static 'img/polina.jpeg'%}" onended="this.play()" playbackRate="0.5"  id="bgvid">                
                <source src="{% static 'video/header2.mp4'%}" type="video/mp4">
            </video>
            <div class="overlay col-md-offset-1 col-md-10 col-md-offset-1">
                <h1 class="header text-center"> Bienvenido </h1>
                <hr>    
                <br>
                <h2 class="header text-center">Actualmente tenemos {{cantidad}} lugares registrados</h2>
                <br>
                <br>
                <p class="text-center">
                    <a href="{% url 'establecimientos_list_url'%}"  class="btn btn-primary btn-lg pull-left"> Dar un vistazo </a>  

                    {% if user.is_authenticated %}                        
                        <a href="{% url 'establecimiento_create_url'%}"  class="btn btn-primary btn-lg pull-right"> Registrar un lugar </a>                                
                    {% else %}
                        <a href="{% url 'login_url'%}"  class="btn btn-primary btn-lg pull-right"> Registrate </a>        
                    {% endif %}
                    
                </p>
            </div>
        </div>      
    </div>
    <br><br>
    <div class="row">
         <div class="col-md-offset-1 col-md-10 col-md-offset-1">
             <div class="col-md-6">
                <h2>¿Qué es RecomendadorUD?</h2>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum soluta maiores amet quo aliquid minima iure, error quidem dolores fuga, mollitia omnis ipsam accusantium modi provident laudantium nesciunt veritatis harum?</p></div>
             <div class="col-md-6">
                <h2>¿Que beneficios tiene?</h2>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo temporibus, eveniet distinctio saepe molestiae eaque laboriosam, cumque quisquam doloremque, nisi vel ut, nam a optio eius excepturi autem facilis praesentium.</p>
            </div>

            <div class="col-md-6">
                <h2>Soy propietario de un lugar</h2>
                <p class="text-justify">Si eres propietario de un nuevo lugara debes comprobarlo. Selecciona el lugar del cual legalmente erese el responsable, posteriormente seleccionaa el enlace de "Soy propietario" en la partde de solicitudes, envianos los datos sugeridos y posteriormente nos contactaremos contigo para seguier el proceso de solicitud.</p></div>
             <div class="col-md-6">
                <h2>Quiero que me recomiendes</h2>
                <p class="text-justify">Dirigete a <a href="#">Recomendaciones</a> y obten tu recomendación, para que te demos las mejores recomendaciones debemos conocer tus gustos, califica en cuanto puedas, eso sera de gran utilidad y tus recomendaciones mejorarán notablemente. </p>
            </div>
         </div>
    </div>  
    <br>        
    
    
   
    <script>
        myVid=document.getElementById("bgvid");
        myVid.playbackRate=0.75;
    </script>
    
{% endblock content %}
