{% extends "main/base.html" %}
{% load url from future %}
{% load i18n %}
{% load notifications_tags %}
{% load staticfiles %}
{% block head_title %}{% trans "Home" %}{% endblock %}
{% block scripts %}
        
        <script>
            function my_callback(data){
                $('#unread').text(data.count);
                var id_delete='#'+data.id_leido+'_row';
                $(id_delete).remove();
            }

        </script>
{% endblock %}


{% block styles_link %}
<link rel="stylesheet" href="{% static 'css/main/home.css'%}"> 
{% endblock styles_link %}
{% block styles %}
{% endblock styles %}


{% block content %}
 


    <div class="row " >

        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
            <h1 class="header text-center">Bienvenido {{user.first_name|truncatechars:20}}</h1>
            <h3 class="header2 text-center">Encuentra los mejores lugares que se ajusten a tus  preferencias.</h3>
            <div class="embed-responsive embed-responsive-16by9">              
                <video class="embed-responsive-item" autoplay="autoplay" muted="muted" loop="loop" poster="{% static 'img/backgroundVideo.png'%}" onended="this.play()" playbackRate="0.5"  id="bgvid">                
                    <source src="{% static 'video/header2.mp4'%}" type="video/mp4">
                </video>
            </div>

            <div class="col-md-12">
                <h2 class="text-center">Actualmente tenemos {{cantidad}} lugares registrados</h2>
                
                <p class="text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'establecimientos_list_url'%}"  class="btn btn-primary btn-lg  center-block">&lt;&lt; Ver mapa &gt; &gt;</a><br>
                        </div>
                        <div class="col-md-6 center-block   ">
                            {% if user.is_authenticated %}
                                <a href="{% url 'establecimiento_create_url'%}"  class="btn btn-primary btn-lg  center-block">&lt;&lt; Aporta: Crea un lugar &gt; &gt;</a>                                
                            {% else %}
                                <a href="{% url 'login_url'%}"  class="btn btn-primary btn-lg  center-block"> Iniciar sesión o registrarse </a>        
                            {% endif %}
                        </div>
                    </div>
                    
                    
                </p>
            </div>





        </div>
   
    </div>
    <br><br>
    <div class="row">
         <div class="col-md-offset-1 col-md-10 col-md-offset-1">
             <div class="col-md-6 help">
                <h2 class="text-center">¿Qué es RecomendadorUD?</h2>                
                <p class="text-justify">
                    RecomendadorUD es un sistema recomendador de filtrado colaborativo soportado en un portal web que recomienda lugares, tales recomendaciones se basan en los gustos e intereses proporcionados por los mismos usuarios de manera voluntaria a partir de puntuaciones de lugares conocidos. De la misma forma los usuarios también pueden crear  y actualizar  lugares sin ninguna restricción, permitiendo que el portal tenga siempre información de actualidad para cada establecimiento.
                </p></div>
             <div class="col-md-6 help">
                <h2 class="text-center">¿Qué beneficios tiene?</h2>
                <p class="text-justify">
                    Los beneficios son incontables, RecomendadorUD aprende de tus intereses y filtra la información relevante que probablemente te importará, descartando lo irrelevante, esto se verá reflejado en tiempos de búsqueda, calidades de la búsqueda y nuevos resultados que tal vez no conocías y grandes sorpresas.
                </p>
            </div>

            <div class="col-md-6 help">
                <h2 class="text-center">Soy propietario de un lugar</h2>
                <p class="text-justify">
                   Si eres propietario de un lugar debes comprobarlo.  Para esto debes seleccionar el lugar que te pertenece, posteriormente ingresa a la sección de Solicitudes y pulsa en el enlace de "Soy propietario", seguidamente ingresa los datos sugeridos. Finalmente nos contactaremos contigo para seguir el proceso de solicitud.
                </p></div>
             <div class="col-md-6 help">
                <h2 class="text-center">Quiero que me recomiendes</h2>
                <p class="text-justify">
                    Dirígete a <a href="{% url 'recmendacion_url' %}">Recomendaciones</a> y obtén tu recomendación, para que te demos las mejores recomendaciones debemos conocer tus gustos, califica en cuanto puedas, eso será de gran utilidad y tus recomendaciones mejorarán notablemente.
                </p>
            </div>

            <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                <h2 class="text-center">¿Todavía tienes preguntas? </h2>
                <p class="text-center">Si ahun tienes preguntas puedes ir a nuestro FAQ.</p>
                <div class="col-md-12 text-center">
                <a class="btn btn-info text-center" href="{% url 'about_url' %}"> &lt;&lt; Acerca De &gt; &gt;</a> 
                </div>
            </div>
         </div>
    </div>  
    <br>        
    
    
   
    <script>
        myVid=document.getElementById("bgvid");
        myVid.playbackRate=0.75;

        $( document ).ready(function() {
            var heights = $(".help").map(function() {
                return $(this).height();
            }).get(),

            maxHeight = Math.max.apply(null, heights);

            $(".help").height(maxHeight);
        });

    </script>
    
{% endblock content %}
