.recomendacion{
	border-style: double;
	border-color: #47a3da;
	border-radius: 7px;
	padding: 0.5em;
	margin-bottom: 2em;

	/*background-size: 100%;
	box-shadow: inset 0 150px 200px -30px #47a3da;*/

	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(151,204,219,1) 56%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(56%, rgba(151,204,219,1)), color-stop(84%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(151,204,219,1) 56%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(151,204,219,1) 56%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(151,204,219,1) 56%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 100%);
	background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(151,204,219,1) 56%, rgba(117,189,209,1) 84%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}

.url-lugares{
	color:blue;
}

.small-white {
	color: black;
}